.feedNumber {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feedNumber__container {
    width: 100%;
    max-width: 640px;
    /* margin-top: 8vh; */
    text-align: left;
}

.feedNumber__container h4 {
    text-align: center;
}

.feedNumber__container h3 {
    color: #00CCCC;
}

.feedNumber__ingredient {
    composes: ml-3 pr-6 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.feedNumber__ingredient h2 {
    max-width: 360px;
    width: 100%;
}

.feedNumber__ingredient p {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 140px;
}

.feedNumber__list {
    composes: mt-6 from global;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 312px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
    scrollbar-width: thin;
}

.feedNumber__totalPrice {
    composes: mt-10 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feedNumber__totalPrice h2 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 140px;
}