.register_main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    top: 15vh;
}

.register_container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
}

.register_container__link {
    text-decoration: none;
    color: #4C4CFF;
}